# Node.js dependencies
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/logs/

# Configurações do Cypress e relatórios de testes
cypress.env.json
report/

# Ambientes e logs
.env
*.log
*.tmp
